pkgbase = hp_wmi
    pkgdesc = HP Victus 16-s1000 wmi driver backported
    pkgver = next
    pkgrel = 1
    url =
    arch = x86_64
    license = GPL
    depends = glibc
    depends = dkms
    provides = hp_wmi
    conflicts = hp_wmi
    source = dkms.conf

pkgname = hp_wmi